<label for="{{name}}"> <h3> {{title}} </h3></label>
<br />

{% for field in fields %}
<input type="file" name="{{name}}"><br />
{% endfor %}
<br />

<ul>
  {% for file in files %}
  <li>
    <a class="uibutton ui-icon-gear ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon" href="{{file.url}}" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-e"></span><span class="ui-button-text">{{ model}} {{file.url}}</span></a>

    <a class="uibutton ui-icon-gear ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon" href="/admin/deleteblob/{{model}}/?id={{id}}&key={{file.key}}" role="button" aria-disabled="false"><span class="ui-icon ui-icon-circle-close"></span><span class="ui-button-text">Delete</span></a>
  </li>
  {% endfor %}
</ul>